Repository HDR-Development/HewDraw-Remix, pull requests merged in 2024-04, with the labels that each got.

#2352 Olimar Backflip Uptilt
  fighters/pikmin/src/acmd/tilts.rs
Labels: character change, semver:patch, backroom approved, includes assets

#2332 Mii Swordfighter adjustments
  fighters/miiswordsman/src/acmd/aerials.rs
  fighters/miiswordsman/src/acmd/ground.rs
  fighters/miiswordsman/src/acmd/smashes.rs
  fighters/miiswordsman/src/acmd/tilts.rs
  fighters/miiswordsman/src/opff.rs
  romfs/source/fighter/miiswordsman/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved

#2363 Killscreen Touchups 2.0
  utils/src/modules/meter.rs
Labels: bug, engine, semver:patch

#2362 Roy Nerf Electric Boogaloo
  fighters/roy/src/acmd/aerials.rs
  fighters/roy/src/acmd/smashes.rs
  fighters/roy/src/acmd/specials/mod.rs
  fighters/roy/src/acmd/specials/special_s1.rs
  fighters/roy/src/acmd/specials/special_s2.rs
  fighters/roy/src/acmd/specials/special_s3.rs
  fighters/roy/src/acmd/specials/special_s4.rs
  fighters/roy/src/acmd/tilts.rs
  romfs/source/fighter/common/hdr/param/fighter_param.xml
  romfs/source/fighter/common/param/fighter_param.prcxml
  romfs/source/fighter/roy/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved, includes assets

#2360 Bayonetta Fixes
  fighters/bayonetta/src/acmd/aerials.rs
  fighters/bayonetta/src/acmd/specials.rs
  fighters/bayonetta/src/opff.rs
  fighters/bayonetta/src/specialn_bullet/acmd.rs
  fighters/bayonetta/src/status/attackair.rs
  fighters/bayonetta/src/status/specialn.rs
  fighters/bayonetta/src/status/specials.rs
  romfs/source/fighter/bayonetta/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved

#2357 Changing pocket icons for HDR
  romfs/source/ui/param/database/ui_pocketable_item_db.prcxml
Labels: aesthetics, semver:patch

#2364 fix: Check nullptr before deref in hud_update
  utils/src/ui.rs
Labels: semver:patch

#2365 uncomment that shit
  utils/src/ui.rs
Labels: semver:patch

#2350 Alternative Marth Changes
  fighters/marth/src/acmd/aerials.rs
  fighters/marth/src/acmd/ground.rs
  fighters/marth/src/acmd/smashes.rs
  fighters/marth/src/acmd/specials/mod.rs
  fighters/marth/src/acmd/specials/special_s2.rs
  fighters/marth/src/acmd/specials/special_s3.rs
  fighters/marth/src/acmd/specials/special_s4.rs
  fighters/marth/src/acmd/tilts.rs
  romfs/source/fighter/marth/motion/body/motion_patch.yaml
  romfs/source/fighter/marth/param/vl.prcxml
Labels: character change, semver:patch, backroom approved

#2328 Update Staling
  romfs/source/fighter/common/param/common.prcxml
Labels: engine, semver:patch

#2371 Kirby Specials Adjustments
  Cargo.lock
  fighters/kirby/src/acmd/copy.rs
  fighters/kirby/src/acmd/copy/falco.rs
  fighters/kirby/src/acmd/copy/ridley.rs
  fighters/kirby/src/acmd/copy/wolf.rs
  fighters/kirby/src/opff/copy.rs
  fighters/kirby/src/status/ridley_special_n.rs
  fighters/ridley/src/acmd/specials.rs
  fighters/ridley/src/status/special_n.rs
  romfs/source/fighter/kirby/motion/body/motion_patch.yaml
Labels: bug, aesthetics, semver:patch

#2366 Lucas Tweaks
  fighters/lucas/src/acmd/aerials.rs
  fighters/lucas/src/acmd/ground.rs
  romfs/source/fighter/common/param/fighter_param.prcxml
  romfs/source/fighter/lucas/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved, includes assets

#2367 Sephiroth: Scintilla Rebirth
  Cargo.lock
  dynamic/src/consts.rs
  fighters/edge/Cargo.toml
  fighters/edge/src/acmd/smashes.rs
  fighters/edge/src/acmd/specials.rs
  fighters/edge/src/acmd/tilts.rs
  fighters/edge/src/fire/acmd.rs
  fighters/edge/src/fire/status.rs
  fighters/edge/src/flare1/mod.rs
  fighters/edge/src/flare1/status.rs
  fighters/edge/src/flaredummy/mod.rs
  fighters/edge/src/flaredummy/opff.rs
  fighters/edge/src/flash/acmd.rs
  fighters/edge/src/flash/mod.rs
  fighters/edge/src/flash/status.rs
  fighters/edge/src/lib.rs
  fighters/edge/src/opff.rs
  fighters/edge/src/status/special_hi.rs
  romfs/source/fighter/edge/motion/body/motion_patch.yaml
  romfs/source/fighter/edge/motion/flash/motion_patch.yaml
  romfs/source/fighter/edge/param/hdr.xml
  romfs/source/fighter/edge/param/vl.prcxml
Labels: character change, semver:patch, backroom approved

#2374 Sephiroth hotfix
  fighters/edge/src/fire/status.rs
Labels: bug, semver:patch

#2304 New Lucina Fair
  fighters/lucina/src/acmd/aerials.rs
  romfs/source/fighter/lucina/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved, includes assets

#2376 Shotos Remove Held BAir + New Ken Fair
  fighters/ken/src/acmd/aerials.rs
  fighters/ken/src/acmd/specials/special_s.rs
  fighters/ken/src/opff.rs
  fighters/ryu/src/acmd/aerials.rs
  fighters/ryu/src/opff.rs
  romfs/source/fighter/ken/motion/body/motion_patch.yaml
  romfs/source/fighter/ryu/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved, includes assets

#2379 Fix Most SDI-Based False Kill Screens
  utils/src/modules/meter.rs
Labels: bug, engine, semver:patch

#2359 Dark Samus Tweaks
  fighters/samusd/src/acmd/aerials.rs
  fighters/samusd/src/acmd/ground.rs
  fighters/samusd/src/acmd/smashes.rs
  fighters/samusd/src/acmd/tilts.rs
  fighters/samusd/src/status/attack_air.rs
  romfs/source/fighter/samusd/motion/body/motion_patch.yaml
Labels: character change, semver:patch, backroom approved, includes assets

#2377 Greninja dair on hit changes
  fighters/gekkouga/src/acmd/aerials.rs
  fighters/gekkouga/src/acmd/other.rs
  romfs/source/fighter/common/param/fighter_param.prcxml
Labels: good first issue, character change, semver:patch, backroom approved
