Repository HDR-Development/HewDraw-Remix, pull requests merged in 2024-10, with the labels that each got.

#2519 Bayonetta Buffs
  fighters/bayonetta/src/acmd/aerials.rs
  fighters/bayonetta/src/acmd/ground.rs
  fighters/bayonetta/src/acmd/specials.rs
  fighters/bayonetta/src/acmd/throws.rs
  fighters/bayonetta/src/acmd/tilts.rs
  fighters/bayonetta/src/opff.rs
  fighters/bayonetta/src/status/specialairs.rs
  fighters/bayonetta/src/status/specials.rs
  romfs/source/fighter/bayonetta/motion/body/motion_patch.yaml
  romfs/source/fighter/bayonetta/param/vl.prcxml
Labels: character change, semver:patch, balance approved

#2524 v0.46.3 PreRelease
  utils/src/game_modes.rs
Labels: bug, semver:patch

#2520 Teleport Mechanics + Zelda Mini-Special Rework and Normals Adjustments
  dynamic/src/consts.rs
  fighters/mewtwo/src/acmd/specials.rs
  fighters/mewtwo/src/opff.rs
  fighters/mewtwo/src/status/mod.rs
  fighters/mewtwo/src/status/special_hi.rs
  fighters/palutena/src/opff.rs
  fighters/sheik/src/opff.rs
  fighters/zelda/src/acmd/aerials.rs
  fighters/zelda/src/acmd/ground.rs
  fighters/zelda/src/acmd/smashes.rs
  fighters/zelda/src/acmd/specials.rs
  fighters/zelda/src/acmd/tilts.rs
  fighters/zelda/src/dein/acmd.rs
  fighters/zelda/src/dein/status.rs
  fighters/zelda/src/dein_s/acmd.rs
  fighters/zelda/src/opff.rs
  fighters/zelda/src/phantom/acmd.rs
  fighters/zelda/src/phantom/opff.rs
  fighters/zelda/src/phantom/status.rs
  fighters/zelda/src/status/mod.rs
  fighters/zelda/src/status/special_hi.rs
  fighters/zelda/src/status/special_lw.rs
  fighters/zelda/src/status/special_s.rs
  romfs/source/fighter/mewtwo/param/vl.prcxml
  romfs/source/fighter/zelda/motion/body/motion_patch.yaml
  romfs/source/fighter/zelda/param/vl.prcxml
Labels: character change, semver:patch, balance approved, includes assets

#2463 Pyra/Mythra Adjustments
  fighters/eflame/src/acmd/aerials.rs
  fighters/eflame/src/acmd/ground.rs
  fighters/eflame/src/acmd/smashes.rs
  fighters/eflame/src/acmd/specials.rs
  fighters/eflame/src/acmd/tilts.rs
  fighters/eflame/src/status/mod.rs
  fighters/eflame/src/status/special_lw.rs
  fighters/elight/src/acmd/aerials.rs
  fighters/elight/src/acmd/ground.rs
  fighters/elight/src/acmd/smashes.rs
  fighters/elight/src/acmd/specials.rs
  fighters/elight/src/acmd/tilts.rs
  fighters/elight/src/status/mod.rs
  fighters/elight/src/status/special_lw.rs
  romfs/source/fighter/eflame/motion/body/motion_patch.yaml
  romfs/source/fighter/elight/motion/body/motion_patch.yaml
Labels: aesthetics, character change, semver:patch

#2527 Kirby Copy Ability Fix
  Cargo.lock
  fighters/kirby/src/lib.rs
Labels: bug, semver:patch

#2526 Mewtwo Tele and Phantom Trade Hotfix
  fighters/mewtwo/src/acmd/tilts.rs
  fighters/mewtwo/src/status/special_hi.rs
  fighters/zelda/src/acmd/specials.rs
  fighters/zelda/src/dein/acmd.rs
  fighters/zelda/src/phantom/acmd.rs
  fighters/zelda/src/status/special_hi.rs
  fighters/zelda/src/status/special_lw.rs
Labels: bug, aesthetics, semver:patch
